In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("employee.csv")

In [ ]:
df

In [ ]:
# display first 5 records
df.head(10)

In [ ]:
# display last 5 records
df.tail()

In [ ]:
output = df.tail()
output.to_csv("last5records.csv")

In [ ]:
#display from 10th to 15th records only
# df.iloc[rows, columns]
df.iloc[10:16]    # displaying from 10th to 15th row  and all the columns

In [ ]:
# df.iloc[rows, columns]
df.iloc[10:16 , 0:3]

In [ ]:
df.iloc[:, 0:3]   # displaying all rows and first 3 columns

In [ ]:
df.iloc[:, 0:3].to_csv("fewrows.csv")

In [ ]:
# df.loc[rows,columns]
df.loc[1:5, "workclass":"occupation"]  # from worklass TO occupation

In [ ]:
df.loc[1:5, ["workclass","occupation"]]  # only workclas and occupation

In [ ]:
# select workclass from table
df['workclass']

In [ ]:
df[['workclass','occupation']]  # display worcklass and occupation columns only

In [ ]:
columns = ['workclass','occupation']
df[columns]

In [ ]:
df['workclass'].unique()     # display all distinct workclasses

In [ ]:
df['workclass'].nunique()     # display no. of distinct workclasses

In [ ]:
df['workclass'].value_counts()

In [ ]:
df.sort_values(by = "age")

In [ ]:
df.sort_values(by = "age", ascending= False)  # descending order

In [ ]:
df['age'].sort_values()

In [ ]:
# select * from tablename where workclass = 'Private'


cond = df['workclass'] == " Private"
df[cond]

In [ ]:
df[df['workclass'] == " Private" ]

In [ ]:
cond1 = df['workclass'] == " Private"
cond2 = df['age'] == 19

df[ cond1 & cond2]

In [ ]:
df[(df['workclass'] == " Private") & (df['age'] == 19)]

In [55]:
# this is comment

this is heading

# this is heading

## this is heading

### this is headind